<div id="addList">
  <div
    hx-get="/new-list"
    hx-swap="outerHTML"
    hx-target="#addList"
    class="text-xl bg-blue-400 bg-opacity-20 w-[17rem] rounded-lg px-4 py-2 text-white cursor-pointer hover:bg-opacity-50 transition-all flex items-center gap-2"
  >
    <img src="assets/plus.svg" alt="Plus icon" class="w- h-4" />Add a List
  </div>
</div>