<div id="newList">
  <form
    hx-post="/lists"
    hx-select="#addList"
    hx-swap="outerHTML"
    hx-select-oob="sortableList:beforeend"
    class="w-[17rem] bg-gray-200 rounded-lg p-2 flex flex-col gap-2"
  >
    <input
      type="text"
      placeholder="Enter list title..."
      name="name"
      required
      minlength="4"
      autofocus
      class="text-lg placeholder:text-zinc-700 p-2"
    />
    <div class="flex items-center gap-2">
      <button
        class="bg-blue-600 rounded-md text-white py-1 px-3 transition-all hover:bg-blue-800"
        type="submit"
      >Add List</button>
      <img
        hx-get="/add-new-list"
        hx-target="#newList"
        hx-swap="outerHTML"
        class="w-8 h-8 cursor-pointer"
        src="assets/cross.svg"
        alt="close icon"
        title="Close Add List"
      />
    </div>
  </form>
</div>