<div
  hx-get="lists/{{this.listId}}/new-card"
  hx-swap="outerHTML"
  class="rounded-lg px-4 py-2 cursor-pointer transition-all flex items-center gap-2 text-zinc-800 hover:bg-gray-300"
><img src="assets/plus-gray.svg" class="w-4 h-4" /> Add a card</div>