<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="css/style.css" />
  <title>HTMX Mini Trello</title>
</head>

<body class="bg-[#0079BF]">
  {{{body}}}
  <script src="https://unpkg.com/htmx.org@1.9.6"
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sortablejs@1.15.0/Sortable.min.js"></script>
  <script>
    htmx.onLoad((target) => {
      const lists =
        target.querySelectorAll('.sort-list'); lists.forEach(function (sortable) {
          Sortable.create(sortable, {
            animation: 150, group: 'lists', swapThreshold:
              0.60, onEnd: function (evt) {
                console.log(target);
                const fromPosition = evt.oldIndex; const
                  toPosition = evt.newIndex;
                target.querySelector('#listMove #fromPosition').value = fromPosition;
                target.querySelector('#listMove #toPosition').value = toPosition; const event = new Event('listSubmit');
                target.querySelector('#listMove').dispatchEvent(event);
              }
          });
        }); const
          cards = target.querySelectorAll('.sort-card'); cards.forEach(function
            (sortable) {
            Sortable.create(sortable, {
              animation: 150, group: 'cards',
              swapThreshold: 0.60, onEnd: function (evt) {
                const
                  oldListId = evt.from.id; const newListId = evt.to.id; const fromPosition =
                    evt.oldIndex; const toPosition = evt.newIndex;
                document.querySelector('#cardMove #fromPosition').value = fromPosition;
                document.querySelector('#cardMove #toPosition').value = toPosition;
                document.querySelector('#cardMove #fromList').value = oldListId;
                document.querySelector('#cardMove #toList').value = newListId; const event =
                  new Event('cardSubmit');
                document.querySelector('#cardMove').dispatchEvent(event);
              }
            });
          });
    })
  </script>
</body>

</html>